*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #ffffff; 
}label{
    color: #fff;}
.div_head{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 10px;
height: 20vh;
width: 100%;
background: #ffffff;
border-radius: 0px 0px 1rem 1rem;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.div_p_config{
display: none;
transition: all 2s ease;
height: 195vh;
overflow: scroll;
}
.div_p_config i{
  color: #fff;
    }
.div_p_config.active{
    display: block;
    }
.div_p_config .img_doc{
    width: 100%;
    height: auto;
    border: 1px solid #fff; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
}

.ligne_polit_confi .span i{
   display: none;
}
.div_head p{
color: black;
}
.div_head div:nth-child(2){
    display: flex;
    }
    .div_head div:nth-child(2) i{
        margin-right: 10px;
       color: #189349;
        }
.container{
    background-color: #f9bf2d;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.div_label{
    display: flex;
    align-items: center;
}
.ligne_polit_confi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_submit{
    width: 40% !important;
    background-color: #189349 !important;
    color: #fff !important;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.P-confid{
    color: rgb(255, 47, 0);
    cursor: pointer;
    float: right !important;
}

.btn_submit:hover{
    background-color: #0f6f35 !important;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check{
    height: 1.2rem !important;
    width: 1rem !important;
}
.check_accep{
    display: flex !important;
    width: 50% !important;
}
.div_btn{
    width: 50% !important;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-check{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 100% !important;
}
.ecrit{
width: 100% !important;
}

@media screen and (max-width: 425px) {
    input {
      width: 90vw !important;
    }
    textarea {
        width: 90vw !important;
      }
      select {
        width: 90vw !important;
      }
      .btn_submit{
        width: 60% !important; 
    }
    .ligne_polit_confi span{
    font-size: 13px;
    }
    .div_label label{
        font-size: 13px;
    }
}
@media screen and (max-width: 768px) {
    .check_accep{
        display: flex !important;
        width: 100% !important;
       
    }
    .form-check{
        display: flex !important;
        align-items: center !important;
        font-size: 12px;
        width: 97% !important;
        margin-left: 18px;
    }
    .div_p_config{
        height: 143vh;

        }
  
}
@media screen and (max-width: 425px) {
    .check_accep{
        display: flex !important;
        width: 100% !important;
      
    }.check{
        height: 1rem !important;
        width: 1rem !important;
    }
    .form-check{
        display: flex !important;
        align-items: center !important;
        font-size: 10px;
        width: 100% !important;
        margin-left: 0px;
    }
    .btn_submit{
        width: 80% !important; 
    }
    .div_head p{
       font-size: 15px;
        }
        .div_p_config{
            height: 80vh !important;
            }
}
@media screen and (max-width: 320px) {
    .div_head p{
        font-size: 11px;
        margin-top: 4px;
         }
         .div_head h1{
            font-size: 25px;
         }
         .ligne_polit_confi span{
            font-size: 10px;
            }
            .div_label label{
                font-size: 10px;
            }
            .check{
                height: 1rem !important;
                width: 1rem !important;
            }
            .div_p_config{
                height: 60vh !important;
                }
}
@media screen and (max-width: 280px) {
    .div_head p{
        font-size: 10px;
        margin-top: 4px;
         }
         .div_head h1{
            font-size: 20px;
         }
         .div_head div:nth-child(2) i{
            margin-right: 7px;
           
            }
}
@media screen and (max-width: 430px) {
    input {
        width: 90vw !important;
      }
      textarea {
          width: 90vw !important;
        }
        select {
          width: 90vw !important;
        }
        .div_p_config{
            height: 60vh;
            }
            .btn_submit{
                width: 75% !important; 
            }
}
@media screen and (max-width: 540px) {
    input {
        width: 90vw !important;
      }
      textarea {
          width: 90vw !important;
        }
        select {
          width: 90vw !important;
        }
        .div_p_config{
            height: 100vh;
            }
}